*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.html{
    font-size: 62.5%;
}
.header{

line-height: 3rem;
 background:linear-gradient(to right,#aad7d9b5,#fbf9f1a2), url("./pexels-svetozar-milashevich-1490908.jpg");
 background-position: top;
 height: 95vh;
margin-left: 2rem;
margin-right: 2rem;
 position: relative; background-size: cover;
 clip-path: polygon(0 0 ,100% 0,100% 80%,0 100%);
    
}

header>*{
    text-align: center;
}
.p1{
    display: block;
    animation: textleft 3s ease; 
   
}
@keyframes textleft {
    
    0%{
        transform: translateX(-1rem);
        opacity: 0;
    }
    
    80%{
        transform: translateX(-0.0rem);
        opacity: 0.8;
    }

    100%{
       
        opacity: 1;
    }
}

.p2{
    animation: textright 3s ease;
    display: block;
}
@keyframes textright {
    
    0%{
        transform: translateX(1rem);
        opacity: 0;
    }
    
    80%{
        transform: translateX(-0.0rem);
        opacity: 0.8;
    }

    100%{
       
        opacity: 1;
    }
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    letter-spacing: 0.2rem;
    
}

.btn{
    margin: 1rem;
display:inline-block;
text-transform: uppercase;

background-color: #fbf9f1;
font-weight:600;

width: 10rem;
height: 3em;
border-radius: 20em;
border: 1px solid white;
box-shadow: 0 0 10px white;

}
.btn:hover{
    transform: translateY(-0.2rem);
    animation: hover 2s ;
}.btn:active{
    transform: translateY(0);
    animation: active 2s;
}
@keyframes hover {
    10%{
        box-shadow:  0 0 10px white;
    }
    80%{
        box-shadow: 20px 10px 30px white;
    }
    100%{
        box-shadow: 20px 20px 40px white;
    }
}
